body {
  font-family: 'ITC Franklin Gothic LT W01 Md', Arial, Helvetica, sans-serif, serif;
  color: #000000;
  background: white;
}
body *:not(i) {
  font-family: 'ITC Franklin Gothic LT W01 Md', Arial, Helvetica, sans-serif important;
}
h1 {
  font-family: 'ITC Franklin Gothic LT W01 DmC', Arial, Helvetica, sans-serif;
}
h2,
h3,
h4 {
  font-family: 'ITC Franklin Gothic LT W01 Md', Arial, Helvetica, sans-serif;
}
a {
  color: #593e33;
}
a:hover {
  text-decoration: underline;
  color: #593e33;
}
.sy-box.topslider {
  background: #f0f0f0;
}
.sy-pager {
  margin: 0!important;
  padding: 0.35rem 0 !important;
}
.sy-pager li.sy-active a {
  background: #593e33 !important;
}
.sy-pager li a {
  background: transparent!important;
  border: 1px solid #593e33;
}
blockquote {
  text-align: center;
  font-style: italic;
  font-size: 1.8rem;
}
.wgrey {
  background: #f0f0f0;
}
header {
  background: white;
  padding: 2rem 0;
}
header #headertelw {
  background: #8d7050;
  color: white;
  position: absolute;
  right: 1rem;
  top: -2rem;
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header #headertelw a {
  color: white!important;
}
header #headertelw img {
  margin-right: 0.5rem;
  max-height: 1.3rem;
}
header #headertelw .elem {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.5rem;
}
@media (max-width: 720px) {
  header #headertelw {
    position: relative;
    right: auto;
    top: auto;
    width: 100vw;
    justify-content: space-between;
  }
}
header .headerw {
  position: relative;
  display: flex!important;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 720px) {
  header .headerw {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }
}
header .logo {
  height: 80px;
  margin: -5px 0 2rem 0;
}
@media (max-width: 720px) {
  header .logo {
    height: 80px;
    margin: 1rem 0;
  }
}
@media (max-width: 720px) {
  header .logow {
    display: none;
  }
}
header .logomobile {
  display: none;
}
@media (max-width: 720px) {
  header .logomobile {
    display: block;
  }
}
header #headermenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 720px) {
  header {
    padding: 0 0 1rem 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  header #headermenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
#ebd {
  font-size: 0.7rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.headermenuitem {
  flex: 0 1 auto;
  color: #000000 !important;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3rem;
  word-wrap: none;
  white-space: nowrap;
  position: relative;
  z-index: 100;
  border-bottom: 2px solid transparent;
}
@media (max-width: 720px) {
  .headermenuitem {
    line-height: 2rem;
    font-size: 1.2rem;
  }
}
.headermenuitem:hover {
  border-bottom: 2px solid #593e33;
  color: #593e33;
}
.headermenuitem:hover a {
  color: #593e33 !important;
}
.headermenuitem:hover .sub-menu {
  height: auto;
  padding: 1rem;
}
.headermenuitem a {
  color: #000000 !important;
  text-decoration: none!important;
}
.headermenuitem a span {
  padding: 0 1rem;
}
@media (max-width: 720px) {
  .headermenuitem a span {
    border: none;
    padding: 0 1em;
  }
}
.headermenuitem .sub-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  z-index: 99;
  top: 2.5rem!important;
  padding: 1rem 0 0 0!important;
}
@media (max-width: 720px) {
  .headermenuitem .sub-menu {
    display: none;
  }
}
.headermenuitem .sub-menu .sub-menu-item {
  text-align: left;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 0 1rem;
}
.headermenuitem .sub-menu .sub-menu-item > a {
  color: #000000 !important;
  font-size: 1.2rem;
  line-height: 2rem;
}
.headermenuitem .sub-menu .sub-menu-item > a:hover {
  color: #593e33 !important;
}
.imggal .column {
  padding: 0.25rem!important;
}
.imggal .gimg {
  cursor: pointer;
  padding-top: 100%;
}
.imggal .gimg.h {
  padding-top: calc(210%);
}
.imggal .gimg.hs {
  padding-top: calc(101%);
}
.imggal .gimg.w {
  padding-top: calc(50%);
}
.imggal .gimg.wl {
  padding-top: calc(75%);
}
.imggal .gimg.ws {
  padding-top: calc(33.3%);
}
footer {
  display: block;
  position: relative;
  background: white;
  padding: 4rem 0 0 0;
}
footer .logo {
  width: 100%;
}
footer .column.links {
  padding: 1rem 2rem!important;
}
footer .column.links h4 {
  padding: 2rem 0 0 0;
}
footer .column.links ul {
  padding: 0;
  margin: 0;
}
footer .column.links ul li {
  list-style: none;
  color: #000000;
}
footer .column.links ul li a {
  color: #000000;
}
footer #subfooter {
  padding: 0.5rem 0;
  background: #8d7050;
  margin-top: 2rem;
}
footer #subfooter a {
  color: white!important;
}
footer #subfooter .footernav {
  display: flex;
}
footer #subfooter .footernav > * {
  padding: 0 0.5rem;
  border-right: 1px solid white;
}
footer #subfooter .footernav > *:last-child {
  border: none;
}
footer #subfooter .ui.container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 720px) {
  footer #subfooter .ui.container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  footer #subfooter .ui.container .ebdf {
    margin-top: 1rem;
  }
}
.btnlnk {
  padding: 1rem 2rem;
  background: #593e33;
  color: white!important;
  font-size: 1.7rem;
}
.nopadding {
  padding: 0!important;
}
.subpage .grey {
  background: #f0f0f0;
}
