body {
  font-family: 'ITC Franklin Gothic LT W01 Md', Arial, Helvetica, sans-serif, serif;
  color: #000000;
  background: white;
}
body *:not(i) {
  font-family: 'ITC Franklin Gothic LT W01 Md', Arial, Helvetica, sans-serif important;
}
h1 {
  font-family: 'ITC Franklin Gothic LT W01 DmC', Arial, Helvetica, sans-serif;
}
h2,
h3,
h4 {
  font-family: 'ITC Franklin Gothic LT W01 Md', Arial, Helvetica, sans-serif;
}
a {
  color: #593e33;
}
a:hover {
  text-decoration: underline;
  color: #593e33;
}
.sy-box.topslider {
  background: #f0f0f0;
}
.sy-pager {
  margin: 0!important;
  padding: 0.35rem 0 !important;
}
.sy-pager li.sy-active a {
  background: #593e33 !important;
}
.sy-pager li a {
  background: transparent!important;
  border: 1px solid #593e33;
}
blockquote {
  text-align: center;
  font-style: italic;
  font-size: 1.8rem;
}
.wgrey {
  background: #f0f0f0;
}
header {
  background: white;
  padding: 2rem 0 0 0;
}
header #headertelw {
  background: #8d7050;
  color: white;
  position: absolute;
  right: 1rem;
  top: -2rem;
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header #headertelw a {
  color: white!important;
}
header #headertelw img {
  margin-right: 0.5rem;
  max-height: 1.3rem;
}
header #headertelw .elem {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.5rem;
}
@media (max-width: 720px) {
  header #headertelw {
    position: relative;
    right: auto;
    top: auto;
    width: 100vw;
    justify-content: space-between;
  }
}
header .headerw {
  position: relative;
  display: flex!important;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 720px) {
  header .headerw {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }
}
header .logo {
  height: 80px;
  margin: -5px 0 2rem 0;
}
@media (max-width: 720px) {
  header .logo {
    height: 80px;
    margin: 1rem 0;
  }
}
@media (max-width: 720px) {
  header .logow {
    display: none;
  }
}
header .logomobile {
  display: none;
}
@media (max-width: 720px) {
  header .logomobile {
    display: block;
  }
}
header #headermenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 720px) {
  header {
    padding: 0 0 1rem 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  header #headermenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
#ebd {
  font-size: 0.7rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.headermenuitem {
  flex: 0 1 auto;
  color: #000000 !important;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
  word-wrap: none;
  white-space: nowrap;
  position: relative;
  z-index: 100;
  border-bottom: 2px solid transparent;
}
@media (max-width: 720px) {
  .headermenuitem {
    line-height: 2rem;
    font-size: 1.2rem;
  }
}
.headermenuitem:hover {
  border-bottom: 2px solid #593e33;
  color: #593e33;
}
.headermenuitem:hover a {
  color: #593e33 !important;
}
.headermenuitem:hover .sub-menu {
  height: auto;
  padding: 1rem;
}
.headermenuitem a {
  color: #000000 !important;
  text-decoration: none!important;
}
.headermenuitem a span {
  padding: 0 1rem;
}
@media (max-width: 720px) {
  .headermenuitem a span {
    border: none;
    padding: 0 1em;
  }
}
.headermenuitem .sub-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  z-index: 99;
  top: 2.5rem!important;
  padding: 1rem 0 0 0!important;
}
@media (max-width: 720px) {
  .headermenuitem .sub-menu {
    display: none;
  }
}
.headermenuitem .sub-menu .sub-menu-item {
  text-align: left;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 0 1rem;
}
.headermenuitem .sub-menu .sub-menu-item > a {
  color: #000000 !important;
  font-size: 1.2rem;
  line-height: 2rem;
}
.headermenuitem .sub-menu .sub-menu-item > a:hover {
  color: #593e33 !important;
}
.imggal .column {
  padding: 0.25rem!important;
}
.imggal .gimg {
  cursor: pointer;
  padding-top: 100%;
}
.imggal .gimg.h {
  padding-top: calc(210%);
}
.imggal .gimg.hs {
  padding-top: calc(101%);
}
.imggal .gimg.w {
  padding-top: calc(50%);
}
.imggal .gimg.wl {
  padding-top: calc(75%);
}
.imggal .gimg.ws {
  padding-top: calc(33.3%);
}
footer {
  display: block;
  position: relative;
  background: white;
  padding: 0;
}
footer .logo {
  width: 100%;
}
footer .column.links {
  padding: 1rem 2rem!important;
}
footer .column.links h4 {
  padding: 2rem 0 0 0;
}
footer .column.links ul {
  padding: 0;
  margin: 0;
}
footer .column.links ul li {
  list-style: none;
  color: #000000;
}
footer .column.links ul li a {
  color: #000000;
}
footer #subfooter {
  padding: 0.5rem 0;
  background: #8d7050;
  margin-top: 2rem;
}
footer #subfooter a {
  color: white!important;
}
footer #subfooter .footernav {
  display: flex;
}
footer #subfooter .footernav > * {
  padding: 0 0.5rem;
  border-right: 1px solid white;
}
footer #subfooter .footernav > *:last-child {
  border: none;
}
footer #subfooter .ui.container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 720px) {
  footer #subfooter .ui.container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  footer #subfooter .ui.container .ebdf {
    margin-top: 1rem;
  }
}
.btnlnk {
  padding: 1rem 2rem;
  background: #593e33;
  color: white!important;
  font-size: 1.7rem;
}
.ut {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
}
.tt {
  font-size: 3rem;
  margin: 0 0 2rem 0;
  font-family: 'ITC Franklin Gothic LT W01 DmC', Arial, Helvetica, sans-serif;
}
#home #tobenw {
  padding: 4rem 0;
}
#home #tobenw .content {
  padding-left: 50%;
}
#home #tobenw .content blockquote {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 3rem;
  line-height: 2em!important;
  color: white;
  font-style: normal;
}
#home #tobenw .content p {
  line-height: 2em!important;
}
#home #tobenw .content .lnkw {
  margin: 4rem 0 2rem 0;
}
@media (max-width: 600px) {
  #home #tobenw {
    padding: 1rem 0;
    background-position: left -120px center !important;
    background-size: contain;
  }
  #home #tobenw .content {
    padding-left: 0;
  }
  #home #tobenw .content blockquote {
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 2rem;
    line-height: 2em!important;
    color: white;
    font-style: normal;
  }
  #home #tobenw .content p {
    line-height: 1.2em!important;
    color: white;
  }
  #home #tobenw .content .lnkw {
    margin: 2rem 0 1rem 0;
  }
  #home #tobenw .content .btnlnk {
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
  }
  #home #tobenw .content > * {
    text-align: right!important;
  }
}
@media (max-width: 800px) {
  #home #tobenw {
    padding: 1rem 0;
    background-position: center center!important;
    background-size: contain;
  }
  #home #tobenw .content {
    padding-left: 0;
  }
  #home #tobenw .content blockquote {
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 2rem;
    line-height: 2em!important;
    color: white;
    font-style: normal;
  }
  #home #tobenw .content p {
    line-height: 1.2em!important;
    color: white;
  }
  #home #tobenw .content .lnkw {
    margin: 2rem 0 1rem 0;
  }
  #home #tobenw .content .btnlnk {
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
  }
  #home #tobenw .content > * {
    text-align: right!important;
  }
}
#home #intro {
  padding: 4rem 0;
}
@media (max-width: 720px) {
  #home #intro {
    padding: 2rem 0;
  }
}
#home #intro img {
  max-width: 100%;
}
#home #intro .content em {
  font-style: normal;
  color: #8d7050;
}
#home #intro .tt strong {
  color: #8d7050;
}
#home #kontakt {
  padding: 4rem 0 0 0;
  margin: 0 0 -2rem 0;
}
@media (max-width: 720px) {
  #home #kontakt {
    padding: 2rem 0;
  }
}
#home #kontakt .social {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}
#home #kontakt .social > * {
  margin: 0 2rem 0 0;
}
#home #kontakt .social img {
  max-width: 40px;
}
#home #kontakt .column.img {
  display: flex!important;
  justify-content: flex-end;
}
@media (max-width: 720px) {
  #home #kontakt .column.img {
    display: none!important;
  }
}
#home #kontakt .column.ct {
  padding: 0 0 2rem 1rem;
}
#home #kontakt img {
  max-width: 200px;
}
#home #kontakt .content em {
  font-style: normal;
  color: #8d7050;
}
#home #kontakt .tt strong {
  color: #8d7050;
}
#home #referenzen {
  padding: 4rem 0;
}
@media (max-width: 720px) {
  #home #referenzen {
    padding: 2rem 0;
  }
}
#home #referenzen .tt,
#home #referenzen .ut {
  text-align: center;
}
#home #referenzen .tt {
  color: #8d7050;
}
#home #referenzen .content {
  columns: 2;
  column-gap: 4rem;
}
#home #referenzen .content ul {
  padding: 0;
  margin: 0 0 1rem 0;
}
#home #referenzen .content ul li {
  margin: 0 0 0 1em;
}
@media (max-width: 720px) {
  #home #referenzen .content {
    columns: 1;
  }
  #home #referenzen .content ul {
    padding: 0 1rem;
  }
}
#home #referenzen .content h3 {
  color: #8d7050;
  margin: 0 0 0 0;
}
#home #ueber_mich {
  padding: 4rem 0;
  color: white;
}
@media (max-width: 720px) {
  #home #ueber_mich {
    padding: 2rem 0;
  }
}
#home #ueber_mich .tt,
#home #ueber_mich .ut {
  text-align: center;
}
#home #ueber_mich .content {
  text-align: center;
}
#home #ueber_mich img {
  width: 100px;
  margin: 0 0 2rem 0;
}
#home #ueber_mich .column.content {
  display: flex!important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem 1rem 1rem 1rem;
}
#home #ueber_mich .column.content ul {
  padding: 0;
}
#home #ueber_mich .column.content li {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
#home #ueber_mich .column.content li p {
  margin: 0 0 1rem 0;
}
#home #ueber_mich .column.content li p::before {
  content: '››';
  color: white;
  margin: 0 0.5rem 0 0;
  font-size: 1em;
  font-weight: normal;
}
#home #ueber_mich .column.content h3 {
  font-family: 'ITC Franklin Gothic LT W01 DmC', Arial, Helvetica, sans-serif;
}
#home #portfolio {
  background: #8d7050;
  padding: 4rem 0;
  color: white;
}
@media (max-width: 720px) {
  #home #portfolio {
    padding: 2rem 0;
  }
}
#home #portfolio .tt,
#home #portfolio .ut {
  text-align: center;
}
#home #portfolio .content {
  text-align: center;
  margin: -1rem 0 2rem 0;
}
#home #portfolio .content2 ul {
  padding: 0;
  columns: 2;
  column-gap: 4rem;
}
#home #portfolio .content2 ul li {
  margin: 0 0 1rem 0;
  text-align: justify;
}
@media (max-width: 720px) {
  #home #portfolio .content2 ul {
    columns: 1;
    padding: 0 1rem;
  }
  #home #portfolio .content2 ul li {
    text-align: left;
  }
}
.nopadding {
  padding: 0!important;
}
.subpage .grey {
  background: #f0f0f0;
}
